<navbar></navbar>

<!-- Jumbotron -->
<section class="jumbotron">
	<div class="container">
		<div class="centered">
		<img class="cwa-logo" src="assets/img/logo/Light-Blue-Logo.svg">
		<h1>Sleep Wake Awareness Program</h1>
		<h3>Multi-disciplinary, patient centered approach
			<br>
			to achieving sleep-wake health.</h3>
		</div>
		<button ng-click="ctrl.openBook()" class="book-btn green-btn btn default-btn">Book an Appointment</button>
	</div>
</section>

<!-- Second Nav -->
<nav id="navbar" class="nav-2 navbar navbar-default navbar-fixed-top">
  	<div class="nav-2_swap container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
	      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		</div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      	<ul class="nav navbar-nav navbar-right nav-2_main-info">
		       <!-- Swap -->
		       <li>
		       	<a ng-click="ctrl.goSwap()" class="swap-info active blue-font">
		       		What is SWAP
		       		<div class="green-line"></div>
		       	</a>
		       </li>
		       <!-- Sleep -->
		       <li>
		       	<a ng-click="ctrl.goSleep()" class="sleep-info blue-font">
		       		Sleep Therapy
		       		<div class="green-line"></div>
		       	</a>
		       </li>
		       <!-- Harmony -->
		       <li>
		       	<a ng-click="ctrl.goHarmony()" class="harmony-info blue-font">
		       		Harmony
		       		<div class="green-line"></div>
		       	</a>
		       </li>
		       <!-- Laser -->
		       <li>
		       	<a ng-click="ctrl.goLaser()" class="laser-info blue-font">
		       		Laser Therapy
		       		<div class="green-line"></div>
		       	</a>
		       </li>
		    </ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>

<!-- General Definition -->
<div id="swap-page" class="swap-page container">
	<section class="defintion">
		<h3>Sleep Wake Awarness Program</h3>
		<p> SWAP is a multi-disciplinary, integrative health promotion program which conducts comprehensive evaluations  of the co-morbid illness in patients and their bidirectional relationship with sleep. SWAP provides sleep and wake health education to patients to enhance compliance and encourage them to swap maladaptive behavioral and psychological patterns affecting sleep, therdy optimizing their physical and mental health.</p>
	</section>
</div>

<!-- Highlight-->
<div id="highlight">
	<div class="all-highlight container-fluid">
		<div class="highlight">
			<!-- <h2> Sleep Wake Awarness Program Therapies</h2> -->
			<section class="row">
				<article ng-click="ctrl.goSleep()" class="sleep col-md-4 col-sm-12 col-sx-12">
					<div class="zzz">
						<img src="assets/img/therapy/zzz-icon.svg">
					</div>
					<h4>Sleep Therapy</h4>
					<p class="discription">Restoring Balance</p>
				</article>
				<article ng-click="ctrl.goHarmony()" class="harmony col-md-4 col-sm-12 col-sx-12">
					<div class="medicine">
						<img src="assets/img/therapy/harmony-icon.svg">
					</div>
					<h4>Harmony</h4>
					<p class="discription">Mind Body Awarness</p>
				</article>
				<article ng-click="ctrl.goLaser()" class="laser col-md-4 col-sm-12 col-sx-12">
					<div class="prism">
						<img src="assets/img/therapy/laser-icon.svg">
					</div>
					<h4>Laser Therapy</h4>
					<p class="discription">Cellular Healing</p>
				</article>
			</section>
		</div>
		<button ng-click="ctrl.openBook" class="book-btn w-green-btn btn default-btn">BOOK A FREE CONSULTATION</button>
	</div>
</div>



<connected></connected>

<footer></footer





























