<!-- Stay Connected -->
<section id="connected" class="connected">
	<div class="container centered position">
		<h2>Stay Connected</h2>
		<h3>Get the latest updates on our services, seminars and community.</h3>
		<!-- Email Input -->
		<!-- <form class="green-form form-group">
			<span>
				<input type="email" placeholder="Email" class="green-input connect_input-position"></input>
			</span>
			<span class="green-submit">
				<button type="submit" class="green-btn">SUBMIT EMAIL</button>
			</span>
		</form> -->
		<!-- social -->
		<div class="social">
			<a href=""><img src="assets/img/social/fb-icon.svg"></a>
			<a href=""><img src="assets/img/social/twitter-icon.svg"></a>
			<a href=""><img src="assets/img/social/youtube-icon.svg"></a>
			<a href=""><img src="assets/img/social/pintrest-icon.svg"></a>
			<a href=""><img src="assets/img/social/insta-icon.svg"></a>
		</div>
	</div>
</section>