<div id="footer" class="footer white container-fluid">
    <div class="footer-nav">
        <ul class="nav nav-pills">
            <li role="presentation"><a ng-click="ctrl.goClinic()">ABOUT</a></li>
            <li role="presentation"><a ng-click="ctrl.goSwap()">SWAP</a></li>
            <li role="presentation"><a ng-click="ctrl.goCpap()">SEMINARS</a></li>
            <li role="presentation"><a ng-click="ctrl.openBook()">BOOK OR REGISTER</a></li>
        </ul>
        <!-- <span>FAQ</span> -->
    </div>
    <!-- Contact info -->
    <div id="contact-info" class="white">
        <div class="all-info container-fluid">
            <div class="info">
                <section ng-click="ctrl.goClinic()" class="centered row">
                    <!-- Address -->
                    <article class="location col-md-4 col-sm-12 col-sx-12">
                        <h4>ADDRESS</h4>
                        <p class="discription">
                            <span>226 Bathurst Street</span>
                            <br>
                            <span>Toronto, ON Canada</span>
                        </p>
                    <!-- Office Phone -->
                    </article>
                    <article class="phone col-md-4 col-sm-12 col-sx-12">
                        <h4>OFFICE NUMBER</h4>
                        <p class="discription">
                            <span>416-777-5524</span>
                        </p>
                    </article>
                    <article class="hours col-md-4 col-sm-12 col-sx-12">
                        <h4>HOURS</h4>
                            <p>Mon. to Sat. 7:00 - 20:00</p>
                            <p>Sunday closed </p>
                    </article>
                </section>
            </div>
        </div>
    </div>
 

    <!-- Copy right -->
    <div id="copy-right" class="copy-right centered col-md-12" id="team">
        <p>All Content © Cobalt Inc. All Rights Reserved</p>
    </div>
