
<navbar></navbar>
<div id="about-dr">
<!-- Jumbotron -->
<section class="jumbotron">
	<div class="container">
		<div class="centered">
		<img class="dr-img" src="assets/img/about/dr-jumbo.png">
		<h1>Dr. Celeste Thirlwell</h1>
		<h3>Neuropsychiatrit, Sleep Medicine Specialist & Founder of 
			<br>
			Cobalt Wellness Association</h3>
		</div>
		<button ng-click="ctrl.openLogin()" class="book-btn green-btn btn default-btn">JOIN OUR COMMUNITY</button>
	</div>
</section>

<!-- Second Nav -->
<nav id="navbar" class="nav-2 navbar navbar-default navbar-fixed-top">
  	<div class="nav-2_about container-fluid">
    	<!-- Brand and toggle get grouped for better mobile display -->
    	<div class="navbar-header">
	      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		</div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      	<ul class="nav navbar-nav navbar-right nav-2_main-info">
		       <!-- Clinic -->
		       <li>
		       	<a ng-click="ctrl.goClinic()" class="clinic-info blue-font">
		       		CWA Clinic
		       		<div class="green-line"></div>
		       	</a>
		       </li>
		       <!-- Dr. -->
		       <li>
		       	<a ng-click="ctrl.goDr()" class="dr-info active blue-font">
		       		Dr. Celeste Thirlwell
		       		<div class="green-line"></div>
		       	</a>
		       </li>
		       <!-- Practitioners -->
		       <li>
		       	<a ng-click="ctrl.goPrac()" class="prac-info blue-font">
		       		Practitioners
		       		<div class="green-line"></div>
		       	</a>
		       </li>
		    </ul>
	    </div><!-- /.navbar-collapse -->
  	</div><!-- /.container-fluid -->
</nav>

 <!-- Dr information  -->
<div id="about-clinic" class="container">
	<!-- Definition -->
	<section class="dr">
		<h3>Dr. Celeste Thirlwell B.Sc (neuro), MD, FRCPC</h3>
		<p>
			Dr. Celeste is the founder and director of the Cobalt Wellness Association.
			<br>
			<br>
			Her keen interest regarding the nature of consciousness fuels her lifelong passion of optimizing the integration of physical and mental healthcare strategies.
			<br>
			<br>
			As a neuropsychiatrist, sleep medicine specialist with interests in complementary cutting-edge healing modalities, she has developed SWAP, a comprehensive, neuroscience-based program that is unique in North America and the world for treating insomnia and complex sleep disorders with comorbid illnesses. 
		</p>
		<div class="v-line"></div>
		<article class="col-md-6 col-sm-6 col-sx-12">
			<img src="assets/img/about/CWA.png">
		</article>
	<!-- <section class="bio">
		<h3>Experience</h3>
		<section class="row">
			<article class="col-md-6 col-sm-6 col-sx-12">
				<div class="list e-list">
					<ul class="treat">
						<div class="treat-content">
							<li></li><span>Insomnia</span>
							<hr>
							<li></li><span>Post Concussion Syndrome</span>
							<hr>
							<li></li><span>PTSD + Anxiety</span>
							<hr>
							<li></li><span>Chronic Pain + Chronic Fatigue</span>
							<hr>
							<li></li><span>Depression</span>
							<hr>
							<li></li><span>Diabetes + Obesity</span>
							<hr>
							<li></li><span>Sleep Apnea</span>
						</div>
					</ul>
				</div>
			</article>
			<div class="v-line"></div>
			<article class="col-md-6 col-sm-6 col-sx-12">
				<img src="assets/img/about/CWA.png">
			</article>
		</section> -->
		<!-- <button ng-click="ctrl.openBook()" class="book-btn green-btn btn default-btn">Book An appointment</button> -->
<!-- 	</section> -->

		<!-- <div class="bottom">
			<button ng-click="ctrl.openBook()" class="book-btn green-btn btn default-btn">Book a service</button>
		</div> -->
	</section>
	<!-- Stay Connected -->
	<!-- <connected class="connected"></connected> -->
</div>

<!-- Stay Connected -->
<connected class="connected"></connected>

<footer></footer>
</div>